
<div class="donate">	

	<h1>Did you get more sleep thanks to this extension?</h1>
	<p>
		Our developers invested many hours. To save you many hours. Of your work time (and lifetime).<br> 
		And to keep the TYPO3 community alive!
	</p>
	<p>

	</p>

	<h2>This is why…</h2>
	<p>
		It would be great, if you would <a href="https://www.paypal.com/paypalme/99grad/1" target="_blank">donate € 1,–</a> (yes, just ONE Euro!) for every project you have based on this extension. 
		NO, we won't be checking this. Nobody's going to send nasty letters. It's completely up to you.
	</p>

	<h2>ONE EURO? For WHAT?</h2>
	<p>
		It's simple: We'll invest the Euro to buy more coffee. More coffee will keep our developers awake. 
		Developers that are awake, can work longer. And fix more bugs. And answer more support tickets.
	</p>
	<p>
		<b>That's why.</b> So what are you <a href="https://www.paypal.com/paypalme/99grad/1" target="_blank">waiting for?</a>
	</p>

	<hr />

	<div class="text-right">
		<a href="https://www.paypal.com/paypalme/99grad/1" target="_blank" class="btn btn-primary btn-lg">
			<i class="{donate.icon} me-2"></i>
			Coffee? Good invest.
		</a>
	</div>

</div>