
<div class="donate">	

	<h1>Do you know cookies?</h1>
	<p>
		We mean: REAL cookies. Not those fake cookies without sugar that you get for free on websites.<br>
		We're thinking of those gooey ones. Full of yummy-yum melting chocolate. Full of the stuff  
		that keeps your brain working and the blood-sugar level up.
	</p>
	<p>
		Well, what you probably don't know is: Developers survive solely on cookies. 
		It's like their gasoline. The key to the wind-up doll. It's a simple logic: No cookies. No code.
	</p>

	<h2>This is why…</h2>
	<p>
		It would be great, if you would <a href="https://www.paypal.com/paypalme/99grad/1" target="_blank">donate € 1,–</a> (yes, just ONE Euro!) for every project you have based on this extension. 
		NO, we won't be checking this. Nobody's going to send you nasty letters. It's completely up to you.
	</p>

	<h2>ONE EURO? For WHAT?</h2>
	<p>
		Our promise: We'll invest the Euro to buy more cookies. More cookies will keep our developers alive.
		Developers that aren't dead, work better. They fix more bugs. And they answer more support tickets.
	</p>
	<p>
		<b>That's why.</b> So what are you <a href="https://www.paypal.com/paypalme/99grad/1" target="_blank">waiting for?</a>
	</p>

	<hr />

	<div class="text-right">
		<a href="https://www.paypal.com/paypalme/99grad/1" target="_blank" class="btn btn-primary btn-lg">
			<i class="{donate.icon} me-2"></i>
			Yeah, let's feed the devs!
		</a>
	</div>

</div>