
<div class="donate">	

	<h1>PLEASE DON'T DONATE</h1>
	<p>
		Money is bad. Money is ugly. Nobody needs money. Money is overvalued.
		Look at all the people who have money. Look at what they are doing with the money. Money spoils the character.
		We are convinced: It's time to get rid of it. <b>Let's ban the buck!</b>
	</p>
	<p>
		We started with our developers. Stopped paying them for code. Worked great! Sure, they've lost some weight... but hey! 
		Look what nice guys they've become! And they were overweight anyway.
	</p>

	<h2>This is why…</h2>
	<p>
		Let's start the revolution! Let's change the world for good! Let's start a pedition! No more money for coders!<br>
		How to start? Let's print some flyers and get them out into the world!
	</p>

	<hr />

	<div class="text-right">
		<a href="https://www.paypal.com/paypalme/99grad/1" target="_blank" class="btn btn-primary btn-lg">
			<i class="{donate.icon} me-2"></i>
			Yeah, let's print some flyers!
		</a>
	</div>

</div>