
<div class="donate">	

	<h1>Want to feel better?</h1>
	<p>
		Have you ever thought about who is behind Open Source projects like this extension?<br>
		Yep, your totally right. <b>Minions.</b> Those funny yellow characters you know from the movies. 
		They are real. We know that, because we've locked about one hundred of those cute little 
		fellows in our basement to get this project done. And they've been happily coding along, 
		day and night, testing and writing documentation.
	</p>
	<h2>Why are they doing this?</h2>
	<p>
		For nothing but a tiny little bit of fame and recognition.<br>
		But especially: To save people like you time. Work-time... and lifetime! And to keep the TYPO3 community alive.
	</p>
	<h2>This is why…</h2>
	<p>
		It would be great, if you would <a href="https://www.paypal.com/paypalme/99grad/1" target="_blank">donate € 1,–</a> (yes, just ONE Euro!) for every project you have based on this extension. 
		NO, we won't be checking this. Nobody's going to send you nasty letters. It's completely up to you.
	</p>

	<h2>ONE EURO? For WHAT?</h2>
	<p>
		It's simple: We'll order a pizza for the Minions. No need to worry – Minions are small. So pizzas for an Euro will do.<br>
		We'll throw the pizza down the shaft in to the basement where we keep the Minions locked up.
	</p>
	<p>
		<b>That's why.</b> So what are you <a href="https://www.paypal.com/paypalme/99grad/1" target="_blank">waiting for?</a>
	</p>

	<hr />

	<div class="text-right">
		<a href="https://www.paypal.com/paypalme/99grad/1" target="_blank" class="btn btn-primary btn-lg">
			<i class="{donate.icon} me-2"></i>
			OMG, please let me feel better!
		</a>
	</div>

</div>