
<link rel="stylesheet" href="/typo3conf/ext/nnhelpers/Resources/Public/Vendor/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="/typo3conf/ext/nnhelpers/Resources/Public/Css/styles.css" />
<link rel="stylesheet" href="/typo3conf/ext/nnrestapi/Resources/Public/Css/styles.css" />

<div class="nnhelpers-be-module">
	<div class="typo3-fullDoc">
		<div id="typo3-docbody" class="docbody-fullscreen">
			<div id="typo3-inner-docbody" class="pl-0 pr-5 pt-5">
				<main class="p-4">
					{nnt3:flashMessages()}
				</main>
			</div>
		</div>
	</div>
</div>