<f:layout name="Module" />

<f:section name="content">

	{f:render(partial:'Testbed', arguments:_all)}

	<main class="p-4">
		{nnt3:flashMessages()}

		<ul class="nav nav-pills mb-4">
			<li class="nav-item active">
				<a class="nav-link active" data-toggle="tab" data-bs-toggle="tab" data-target=".tab-endpoint" data-bs-target=".tab-endpoint">
					<i class="fas fa-share-alt mr-2"></i>
					Endpoints
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" data-bs-toggle="tab" data-target=".tab-kickstarts" data-bs-target=".tab-kickstarts">
					<i class="fas fa-box mr-2"></i>
					Kickstarter
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane tab-endpoint active">
				<div class="body">
					{f:render(partial:'Messages', arguments:_all)}	
					{f:render(partial:'Endpoints', arguments:_all)}
				</div>			
			</div>
			<div class="tab-pane tab-kickstarts">
				<div class="body">
					{f:render(partial:'Kickstarts', arguments:_all)}
				</div>			
			</div>
		</div>

			
	</main>

</f:section>