
<div class="endpoints">	

	<div class="mb-4">
		<h2>Endpoints</h2>
		<p>The list of all registered endpoints. If you add your own Api endpoints, they will automatically appear in this list.</p>
	</div>

	<f:for each="{endpoints}" key="reqType" as="endpoints">
		<f:for each="{endpoints}" key="identifier" as="registrations">

			<f:for each="{registrations}" key="extname" as="config">

				{f:if(condition:config.route, then:'{absApiUrlPrefix}{config.route.path}', else:'{rest:uri.api(controller:config.controller, action:config.action, ext:extname)}')->f:variable(name:'uri')}

				{f:variable(name:'relUri', value:'{uri->nnt3:format.replace(from:urlBase, to:\'\')}')}

				{f:variable(name:'title', value:'{uri->nnt3:format.replace(from:urlBase, to:\'\')->f:format.htmlspecialchars()}')}

				<div class="request mb-2" 
					data-uid="{reqType}/{relUri}"
					data-reqtype="{reqType}" 
					data-requrl="{relUri}"
					data-example="{config.annotations.example}">

					<rest:widget.accordion reqType="{reqType}" title="{title}" class="nice-thing">

						{config.comment->f:format.raw()}

						<f:if condition="{config.annotations.example}">
							<div class="example mb-4">
								<b>Example data:</b>
								<nnt3:format.code lang="json">					
									{config.annotations.example->f:format.raw()}
								</nnt3:format.code>		
							</div>
						</f:if>

						<div class="classinfos mb-2">
							<b>Class infos:</b>
							<table class="table mt-2 table-bordered table-sm">
								<tr>
									<td>Access:</td>
									<td>{config.access->rest:format.access()}</td>
								</tr>
								<tr>
									<td>Target:</td>
									<td><code>{config.class}->{config.method}()</code></td>
								</tr>
								<f:if condition="{config.distiller}">
									<tr>
										<td>Distiller:</td>
										<td><code>{config.distiller}</code></td>
									</tr>	
								</f:if>
								<f:if condition="{config.uploadConfig}">
									<tr>
										<td>Upload-Config:</td>
										<td><code>{config.uploadConfig}</code></td>
									</tr>	
								</f:if>
							</table>
						</div>

					</rest:widget.accordion>
			
				</div>
			</f:for>
		</f:for>
	</f:for>

</div>