
<f:if condition="!{rewriteCondExists}">
  <div class="alert alert-danger mb-5">
      <h4 class="alert-title">Problems with the login / web-token?</h4>
      <p class="alert-message">
        If there are problems with the authorization of a frontend-user, make sure your server is configured to forward 
        the HTTP-Authorization header. In most cases, simply add this to your <code>.htaccess</code> after the <code>RewriteEngine On</code> line:</p>
<nnt3:format.code lang="yaml">
# Put this directly after the "RewriteEngine On" command
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
</nnt3:format.code>
  </div>
</f:if>