
	<div class="testbed py-5 p-4  d-flex flex-column" data-url-base="{urlBase}">
		
		{f:render(partial:'Loginform', arguments:_all)}

		<h3>Create a Request</h3>

		<div class="d-flex mb-2 pt-3 request-form">
			<input type="hidden" class="requid" />
			<f:form.select class="reqtype" options="{get:'GET', post:'POST', put:'PUT', patch:'PATCH', delete:'DELETE'}" value="post" />
			<div class="url w-100">
				<i class="progress-bar"></i>
				<input type="text" class="form-control requrl" placeholder="enter URL to test" value="{rest:uri.api(controller:'test', ext:'nnrestapi')->nnt3:format.replace(from:urlBase, to:'')}" />
			</div>
			<button class="btn btn-primary ml-2 d-flex align-items-center">
				Submit
			</button>
		</div>

		<div class="request-panel mb-4">
			<ul class="nav nav-tabs">
				<li class="nav-item active">
					<a class="nav-link" data-toggle="tab" data-bs-toggle="tab" data-target=".compose-body" data-bs-target=".compose-body">Body</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" data-bs-toggle="tab" data-target=".compose-files" data-bs-target=".compose-files">Files</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" data-bs-toggle="tab" data-target=".compose-auth" data-bs-target=".compose-auth">Auth</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" data-bs-toggle="tab" data-target=".compose-lang" data-bs-target=".compose-lang">Language</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane compose-body active">
					<div class="body">
						<textarea class="form-control reqbody" placeholder='{"key":"value", ...}'></textarea>
					</div>			
				</div>
				<div class="tab-pane compose-files">
					<div class="files d-flex p-3">
						<input type="text" class="reqfilekey form-control w-25 mr-2" value="file" />
						<input type="file" multiple="1" class="form-control form-control-file reqfiles" />
					</div>			
					<div class="files px-3 pb-3">
						<p>
							Multiple files possible. Will get a numeric suffix as key, e.g <b>file-0, file-1, ...</b><br>
							To reference the file in the JSON, use <code>"UPLOAD:/file-0"</code>
						</p>
					</div>
				</div>
				<div class="tab-pane compose-auth">
					<div class="auth p-3">
						<div class="d-flex align-items-center">
							<label>JSON Web Token (JWT)</label>
							<input type="text" class="form-control reqtoken" placeholder="filled automatically after login" />
						</div>
						<div class="d-flex align-items-center">
							<label>fe_typo_user Cookie</label>
							<input type="text" class="form-control reqcookie" placeholder="filled automatically after login" />
						</div>
						<div class="d-flex align-items-center">
							<label>Basic Auth</label>
							<input type="text" class="form-control reqbasicauth" placeholder="username:password" />
						</div>
					</div>			
				</div>
				<div class="tab-pane compose-lang">
					<div class="lang p-3">
						<div class="d-flex align-items-center">
							<label>Accept-Language</label>
							<input type="text" data-request-header="Accept-Language" data-add-header-if-empty class="form-control req-header-accept-lang" value="de-DE" />
						</div>
					</div>			
				</div>
			</div>	
		</div>

		<div class="result-panel h-100 d-flex flex-column">
			<div class="rescode px-3 d-flex align-items-center">
				Status: <span class="ml-2"></span>
				<i class="fas fa-circle-notch fa-spin ml-auto spinner"></i>
			</div>
			<div class="result">
				<pre class="mt-0"><code class="resbody language-json">Click „submit“ to show results.</code></pre>
			</div>
			<div class="exception"></div>
		</div>
	</div>
