
<h4>Create a link to an api-endpoint</h4>

<p>Basic Syntax</p>
<nnt3:format.code lang="php">
\nn\rest::Api()->uri( $controller, $action, $uid, $param1, $param2 );
\nn\rest::Api( $endpoint )->uri( $controller, $action, $uid, $param1, $param2 );
</nnt3:format.code>

<p>Examples:</p>

<nnt3:format.code lang="php">

// api/test/output
\nn\rest::Api()->uri( 'test', 'output' );

// api/test/output/123
\nn\rest::Api()->uri( 'test', 'output', 123 );

// api/test/output/123
\nn\rest::Api()->uri( ['controller'=>'test', 'action'=>'output', 'uid'=>123] );

// api/test?other=123
\nn\rest::Api()->uri( 'test' , ['other'=>123] );

// api/test/output/123?other=456
\nn\rest::Api()->uri( ['controller'=>'test' , 'action'=>'output', 'uid'=>123], ['other'=>456] );

// api/myext/test
\nn\rest::Api('myext')->uri( 'test' );

// api/myext/test
\nn\rest::Api()->uri( ['ext'=>'myext', 'controller'=>'test'] );

</nnt3:format.code>

