.nnhelpers-be-module {
    font-family: "Source Sans Pro", sans-serif;
}

.form-control, .nav-link, .btn {
    border-radius: 0;
}

.form-control {
    height: 2.25rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

h3 {
    font-size: 1.1rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.testbed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    width: 600px;
    background: #2d2d2d;
    color: #fff;
    font-size: 0.9rem;
}

.reqtype {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    flex: 1 1 90px;
    padding: 0.1rem 0.5rem;
    border: none;
    text-align: center;
}

.testbed .btn {
    font-size: 1rem;
}

.testbed label {
    padding: 0.5rem 0;
    min-width: 150px;
    margin: 0;
    color: #000;
}

.testbed .tab-pane {
    background: #ededed;
}

.testbed .nav-link {
    margin: 0;
    color: #000 !important;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
}


.files {
    color: #000;
}

main {
    width: calc(100vw - 650px);
}

.compose-body textarea {
    min-height: 200px;
    padding: 1rem;
}

.rescode {
    background: #444;
    border-bottom: 1px solid #555;
    padding: .5rem 1rem;
}

.exception {
    display: none;
}

.show-exception .exception {
    display: block;
}

.show-exception .result {
    display: none;
}

.result-panel,
.result-panel pre {
    background: #000;
}

.result-panel .toolbar {
    display: none;
}

.result-panel .code-toolbar {
    height: 100%;
}

.reqbody {
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 0.9rem;
}

.resbody {
    min-height: 250px;
    overflow-y: auto;
    background: #000;
    color: #fff;
    border: none;
    padding: 0;
    margin: 0;
}

.card-header {
    background: linear-gradient(45deg, #e8e8e8, #f4f4f4);
}
.card-header a {
    display: flex !important;
    align-items: center;
}

.req-type:before {
    content: '';
    min-width: 50px;
    text-transform: uppercase;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
    font-style: normal;
    border-radius: 2px;
    background: #f5f5f5;
    padding: 7px 5px;
    display: inline-flex;
    margin: 0 10px 0 0;
}

.endpoints .req-type-get:before {
    content: 'get';
    background: #60aefe;
}
.endpoints .req-type-post:before {
    content: 'post';
    background: #4acb91;
}
.endpoints .req-type-put:before {
    content: 'put';
    background: #fba12f;
}
.endpoints .req-type-patch:before {
    content: 'patch';
    background: #4fe2c2;
}
.endpoints .req-type-delete:before {
    content: 'del';
    background: #f93f3e;
}
.req-type-get .reqtype {
    background: #60aefe;
}
.req-type-post .reqtype {
    background: #4acb91;
}
.req-type-put .reqtype {
    background: #fba12f;
}
.req-type-patch .reqtype {
    background: #4fe2c2;
}
.req-type-delete .reqtype {
    background: #f93f3e;
}
.req-type-delete [data-target=".compose-body"], 
.req-type-delete [data-target=".compose-files"],
.req-type-get [data-target=".compose-body"], 
.req-type-get [data-target=".compose-files"] {
    text-decoration: line-through !important;  
    opacity: 0.6;  
}
.req-type-delete .compose-body, 
.req-type-delete .compose-files,
.req-type-get .compose-body, 
.req-type-get .compose-files {
    opacity: 0.8;
    pointer-events: none;
}


.url {
    position: relative;
}

.progress-bar {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    height: 4px;
    bottom: 0;
    left: 0;
    display: none;
    background: #cabf39;
}

.loading .progress-bar {
    display: block;
}


.testbed .spinner {
    display: none;
    color: #fff;
}

.loading .spinner {
   display: block;
}

.loading .result-panel {
    opacity: 0.2;
}

b, strong {
    font-weight: 600;
}

.access-list {
    list-style: none;
    margin: 0;
    padding: 2px 0 0 0;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.access-list li {
    padding: 0 15px 0 0;
}
.access-list i {
    margin-right: 5px;
}

.table-sm td, .table-sm th {
   padding: 0.3rem 0.7rem;
}

.auth-form {
    opacity: 0;
    transition: 0.2s all;
}

.logout .form-control {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}

.feuser-loaded .auth-form {
    opacity: 1;
}
.auth-form .logout {
    display: none;
}
.feuser-exists .auth-form .logout {
    display: block;
}
.feuser-exists .auth-form .login {
    display: none;
}
