<!--
	========================================================================
	EXT:nnrestapi/Resources/Private/Backend/Layouts/Module.html
-->
<link rel="stylesheet" href="/typo3conf/ext/nnhelpers/Resources/Public/Vendor/fontawesome/css/all.css" />
<link rel="stylesheet" href="/typo3conf/ext/nnrestapi/Resources/Public/Css/bootstrap.min.css" />
<link rel="stylesheet" href="/typo3conf/ext/nnhelpers/Resources/Public/Css/styles.css" />
<link rel="stylesheet" href="/typo3conf/ext/nnrestapi/Resources/Public/Css/styles.css" />

<div class="nnhelpers-be-module">
	<div class="ps-0 pe-5">
		<f:render section="content"/>
	</div>
</div>
