<!--
	========================================================================
	EXT:nnrestapi/Resources/Private/Backend/Layouts/Module.html
-->

<f:be.pageRenderer
	includeCssFiles="{
		0: 'EXT:nnhelpers/Resources/Public/Vendor/fontawesome/css/all.css', 
		1: 'EXT:nnrestapi/Resources/Public/Vendor/bootstrap.min.css', 
		2: 'EXT:nnhelpers/Resources/Public/Css/styles.css',
		3: 'EXT:nnrestapi/Resources/Public/Css/styles.css'
	}"
/>

<div class="nnhelpers-be-module">
	<div class="ps-0 pe-5">
		<f:render section="content"/>
	</div>
</div>
